matrix:
  include:
    -  os: linux
       dist: trusty
    -  os: osx

language: r
sudo: required
       
before_install: |
   if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
     (cd ../ ;
     wget http://packages.bic.mni.mcgill.ca/minc-toolkit/Debian/minc-toolkit-1.9.16-20180117-Ubuntu_14.04-x86_64.deb )
     sudo dpkg -i ../minc-toolkit-1.9.16-20180117-Ubuntu_14.04-x86_64.deb
     source /opt/minc/1.9.16/minc-toolkit-config.sh
   fi
   
   if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
     (cd ../ ;
     wget http://packages.bic.mni.mcgill.ca/minc-toolkit/MacOSX/minc-toolkit-1.9.16-20180117-Darwin-10.8-x86_64.dmg)
     sudo hdiutil attach ../minc-toolkit-1.9.16-20180117-Darwin-10.8-x86_64.dmg
     sudo installer -package /Volumes/minc-toolkit-1.9.16-20180117-Darwin-x86_64/minc-toolkit-1.9.16-20180117-Darwin-x86_64.pkg -target /
     source /opt/minc/1.9.16/minc-toolkit-config.sh
     Rscript -e "install.packages('digest')"
   fi
   
