## Job Resource Interface Definition
##
## modules       [character]:  Extra modules you would like to load on slaves. 
## nodes [integer|character]:  Argument to PBS -l nodes, may be an integer number of nodes, or a character vector
##                             of a colon separated list of node arguments e.g "1:ppn=8" for a scinet node
## walltime   [character(1)]:  Walltime for this job e.g. "01:00:00" for 1 hour
## vmem       [character(1)]:  Memory for each job e.g. "2G" for 2 gigabytes
## extra         [character]:  Extra lines to be added to the job script before calling R  
## 'walltime' and 'memory' settings automatically determine the correct queue, you don't have to
## select the queue yourself.
## Default resources can be set in your .BatchJobs.R by defining the variable
## 'default.resources' as a named list.


#PBS -N <%= job.name %>
## merge standard error and output
#PBS -j oe
## direct streams to our logfile
#PBS -o <%= log.file %>

<%# 
## Setup the resources variables
modules_paths <- resources$module_paths
resources$module_paths <- NULL

modules < resources$modules
resources$modules <- NULL
-%>

#PBS -l nodes=<%= resources$nodes %>,walltime=<%= resources$walltime %>,vmem=<%= resources$vmem %>
## remove this line if your cluster does not support arrayjobs
#PBS -t 1-<%= arrayjobs %>
#PBS -V  
## Run R:
## we merge R output with stdout from PBS, which gets then logged via -o option
<%#= if(!is.null(resources$modules)) paste("module load ", paste0(resources$modules, collapse = " ")) %>
<%= if(!is.null(resources$extra)) resources$extra %>
R CMD BATCH --no-save --no-restore "<%= rscript %>" /dev/stdout
