## Job Resource Interface Definition
##
## nodes [integer|character]:  Argument to PBS -l nodes, may be an integer number of nodes, or a character vector
##                             of a colon separated list of node arguments e.g "1:ppn=8" for a scinet node
## walltime   [character(1)]:  Walltime for this job e.g. "01:00:00" for 1 hour
## vmem       [character(1)]:  Memory for each job e.g. "2G" for 2 gigabytes
## extra         [character]:  Extra lines to be added to the job script before calling R  
## 'walltime' and 'memory' settings automatically determine the correct queue, you don't have to
## select the queue yourself.
## Default resources can be set in your .BatchJobs.R by defining the variable
## 'default.resources' as a named list.


#PBS -N <%= job.name %>
## merge standard error and output
#PBS -j oe
## direct streams to our logfile
#PBS -o <%= log.file %>

#PBS -l nodes=<%= resources$nodes %>,walltime=<%= resources$walltime %>,vmem=<%= resources$vmem %>
## remove this line if your cluster does not support arrayjobs
## Disable array jobs: #PBS -t 1-<%= arrayjobs %>
#PBS -V  
## Run R:
## we merge R output with stdout from PBS, which gets then logged via -o option
<% if(!is.null(resources$extra)) cat(paste0(resources$extra, collapse = NULL)) %>
R CMD BATCH --no-save --no-restore "<%= rscript %>" /dev/stdout
